body {
    background-color: lightgreen;
}

.main {
    height: 300vh;
}

.dropdown-menu {
    width: 10vw;
}

#nav-item {
    margin-left: 27vw;
}

.prescription {
    margin-top: 8vh;
    margin-left: 20vw;
    float: left;
}

.prescription-two {
    margin-top: 8vh;
    margin-left: 2vw;
    float: left;
}

.medicin {
    width: 20vw;
    margin-top: 20vh;
    margin-left: 15vw;
    float: left;
}