body {
    margin: 0px;
}

.main {
    height: 223vh;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.nav-bar {
    height: 9.8vh;
    width: 100vw;
    background-color: black;
    margin-bottom: 5vh;
    position: sticky;
    top: 0;
}

.navigation {
    height: 9.8vh;
    width: 24.5vw;
    background-color: black;
    text-align: center;
    float: left;
    font-size: 5vh;
    color: aqua;
    font-style: normal; 
}

.about {
    height: 70vh;
    width: 100vw;
    border: solid white;
}



img {
    height: 40vh;
    width: 20%;
    border-radius: 30vh;
    float: left;
    margin-left: 3vw;
}

h1 {
    font-size: 5vh;
    color: yellow;
    text-decoration: underline;
}

h2 {
    font-size: 4vh;
    color: blue;
    margin-left: 40vw;
}

.projects {
    height: 65vh;
    width: 100vw;
    background-color: black;
    margin-top: 2.5vh;
    border:solid white;
}

.a {
    margin-bottom: 20vh;
    font-size: 5vh;
    margin-right: 20vw;
}

.education {
    height: 55vh;
    border: solid white;
}

.navigation2 {
    height: 9.8vh;
    width: 24.5vw;
    background-color: black;
    text-align: center;
    float: left;
    font-size: 3.33vw;
    color: aqua;
    position: static;
    top: 0;
    font-style: normal;
    margin-left: 0vh;
}

@media (max-width: 700px) {
    body {
        margin: 0px;
    }
    
    .main {
        height: 223vh;
        width: 100vw;
        background-color: black;
        display: flex;
        flex-direction: column;
    }
    
    .nav-bar {
        height: 9.8vh;
        width: 100vw;
        background-color: black;
        position: sticky;
        top: 0;
    }
    
    .navigation {
        height: 10vh;
        width: 23vw;
        background-color: black;
        text-align: center;
        float: left;
        font-size: 3vh;
        color: aqua;
        position: sticky;
        top: 0;
        font-style: normal; 
    }
    
    .about {
        height: 70vh;
        width: 100vw;
        background-color: black;
        border: white;
        border-style: solid;
    }

    .flexchess {
        height: 20vh;
        width: 35%;
        margin-left: 1vw;
    }

    .flag {
        height: 20vh;
        width: 35%;
        margin-left: 28vw;
    }
    
    img {
        height: 20vh;
        width: 35%;
        border-radius: 30vh;
        margin-left: 3vw;
    }
    
    h1 {
        font-size: 5vh;
        color: yellow;
        text-decoration: underline;
    }
    
    h2 {
        font-size: 3vh;
        color: blue;
        margin-left: 40vw;
    }
    
    .projects {
        height: 70vh;
        width: 100vw;
        background-color: black;
        margin-top: 2.5vh;
        border: white;
        border-style: solid;
    }

    .a {
        margin-bottom: 20vh;
        font-size: 4vh;
        margin-left: 30vw;
    }
    
    .education {
        height: 55vh;
        border: solid white;
    }

    .b {
        font-size: 3vh;
    }
    
    .navigation2 {
        height: 10vh;
        width: 24.5vw;
        background-color: black;
        text-align: center;
        float: left;
        font-size: 3.33vw;
        color: aqua;
        position: static;
        top: 0;
        font-style: normal;
        margin-left: 0vh;
    }
}